@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
  --da-c-white: #ffffff;
  --da-c-white-soft: #f8f8f8;
  --da-c-white-mute: #f2f2f2;

  --da-c-black: #070d17;
  --da-c-black-soft: #1c2129;
  --da-c-black-mute: #272b32;

  --da-c-purple: #506cff;
  --da-c-purple-soft: #5a70e3;
  --da-c-purple-mute: #6776c2;

  --da-c-gray: #d5d5d5;

  --da-c-red: #f15555;

  --da-c-text-light-1: var(--da-c-black-soft);
  --da-c-text-light-2: var(da-c-black-mute);
  --da-c-text-light-3: var(--da-c-purple-soft);
  --da-c-text-dark-1: var(--da-c-gray);
  --da-c-text-dark-2: var(--da-c-purple);
  --da-c-text-error: var(--da-c-red);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--da-c-white);
  --color-background-soft: var(--da-c-white-soft);
  --color-background-mute: var(--da-c-white-mute);

  --color-form-bg: var(--da-c-gray);
  --color-heading: var(--da-c-text-light-3);
  --color-text: var(--da-c-text-light-1);
  --color-error: var(--da-c-text-error);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--da-c-black);
    --color-background-soft: var(--da-c-black-soft);
    --color-background-mute: var(--da-c-black-mute);

    --color-form-bg: var(--da-c-black-soft);
    --color-heading: var(--da-c-text-dark-2);
    --color-text: var(--da-c-text-dark-1);
    --color-error: var(--da-c-text-error);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: -apple-system, "Fira Sans", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
